.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - #{$gap-xl});
    margin-inline: auto;
}

.container {
    width: 100%;
    max-inline-size: 75ch;
    margin-inline: auto;
}

.flex {
    display: flex;
    gap: $gap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    gap: $gap;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.align-middle {
    display: flex;
    align-items: center;
}

.stack > * + * {
    margin-block-start: $gap;
}

.stack-xl > * + * {
    margin-block-start: $gap-xl;
}

.stack-lg > * + * {
    margin-block-start: $gap-lg;
}

.stack-sm > * + * {
    margin-block-start: $gap-sm;
}

.stack-xs > * + * {
    margin-block-start: $gap-xs;
}