.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - #{$gap-xxl});
    margin-inline: auto;
}

.main {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

.sidebar {
	flex-basis: 20rem;
	flex-grow: 1;
}


// width 

.max-width {
    max-width: 65ch;
}

// flex

.sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
    align-self: start;
    padding-bottom: $gap-xl;
    overflow: scroll;
}

.flex {
    @extend %flex;
}

.flex-between {
    @extend %flex;
    justify-content: space-between;
}

.flex-fifty-fifty {
    @extend %flex;

    & > * {
        flex: 1;
    }
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.align-middle {
    display: flex;
    align-items: center;
}


// spacing 

.stack > * + * {
    margin-block-start: $gap;
}

.stack-xl > * + * {
    margin-block-start: $gap-xl;
}

.stack-lg > * + * {
    margin-block-start: $gap-lg;
}

.stack-sm > * + * {
    margin-block-start: $gap-sm;
}

.stack-xs > * + * {
    margin-block-start: $gap-xs;
}