fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    font-weight: bold;
}

label {
    display: block;
}

input:not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    height: 2rem;
    padding: $gap-xs;
}

input[type="radio"],
input[type="checkbox"] {
    
    + label {
        display: inline-block;
    }
}

textarea {
    width: 100%;
    height: 5rem;
    padding: $gap-xs;
}

.form-error {
    font-size: .85rem;
    color: red;
}